<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>WebTest</display-name>
  
  <!-- JDBC사용을 위한 "컨텍스트 초기화 파라미터"를 설정 해당 설정값은 
  웹어플리케이션 모든 JSP혹은 서블릿에서 접근가능. -->
  <context-param>
      <param-name>JDBCDriver</param-name>
      <param-value>oracle.jdbc.OracleDriver</param-value>
   </context-param>

   <context-param>
      <param-name>ConnectionURL</param-name>
      <param-value>jdbc:oracle:thin:@localhost:1521:orcl</param-value>
   </context-param>

   <!-- 세션유지시간설정 : 여기서 설정한 시간은 '분' 단위 -->
   <session-config>
      <session-timeout>60</session-timeout>
   </session-config>
   
   <!-- 게시판 페이지처리(Paging)관련 파라미터 
   		PAGE_SIZE : 한페이지에 출력할 게시물의 갯수. 보통 10~30정도로 설정한다. 
   		BLOCK_PAGE : 한 블록당 출력할 페이지번호의 갯수. 보통 5~10정도로 설정한다. 
   -->
	<context-param>
		<param-name>PAGE_SIZE</param-name>
		<param-value>20</param-value>
	</context-param>  
	<context-param>
		<param-name>BLOCK_PAGE</param-name>
		<param-value>5</param-value>
	</context-param> 
   
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>